:root {
    --color--primary: #274c77;

    --color--sub-1: #6096ba;
    --color--sub-2: #a3cef1;
    --color--sub-3: #8b8c89;
    --color--sub-4: #e5e5e5;

    --color--text: #e7ecef;
    --color--light: #fff;
    --color--dark: #000;
}

html {
    font-size: 10px;
    font-family: Helvetica, arial, sans-serif;
    
}

body {
    margin: 0;
}

input:focus {
    outline: none;
    border: 2px solid currentColor;
}

.logo{
    width: 100px;
    border-radius: 100%;
    
}
.bg_logo{
    display: inline-block;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

p {
    margin: 0;
}

.logo{
    width: 100px;
}


.header {
    /* background-color: var(--color--sub-2);
    color: var(--color--text); */
    font-size: 1.4rem;
    padding: 5px 0 10px 0;
}



.header-row {
    background-color: #a3cef1;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    margin-top: px;
    color: #e7ecef;
}

.header-left-col__link {
   
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    padding-right: 6px;
}

.header-left-col__link:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.521);
}

a.header-left-col__link:hover {
    color: var(--color--sub-1);
}

.fas{
    color: #fff;
}

.header__btn-wrap{

    display: inline-block;
}

.header-left-col__link-support,
.header-left-col__link-language,
.header-left-col__icon {
    font-size: 1.4rem;
    padding: 0 -1px;
    position: relative;
    
}


.nav-item{
    padding: 0px 10px;
    margin: 0px 10px;

}

.active:hover{
    color: #274c77;
}

.header-row__text{
    font-size: 14px;
    color: white;
}

.header-left-col__link-support:hover,
.header-left-col__link-language:hover,
.header-left-col__icon:hover {
    color: var(--color--sub-1);
    cursor: pointer;
}

.header-left-col__link-language .select-language {
    padding: 6px 4px;
    min-width: 125px;
    background-color: var(--color--sub-4);
    color: var(--color--sub-3);
    z-index: 1;

    position: absolute;
    top: calc(100% + 6px);
    left: 0;

    display: none;
}

.header-left-col__link-language:hover .select-language {
    display: block;
}

.header-left-col__link-language:hover .select-language::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--color--sub-4) transparent;

    position: absolute;
    bottom: 95%;
    left: 0;

    display: block;
}

.header-left-col__link-language:hover .select-language::after {
    content: "";
    height: 8px;
    width: 100%;
    background-color: transparent;

    position: absolute;
    bottom: 100%;
    left: 0;

    display: block;
}

.header-left-col__link-language .btn-language {
    height: 2.5rem;
    line-height: 2.5rem;
}

.btn--select {
    color: var(--color--dark) !important;
    font-weight: 650;
}

.btn--select::before {
    content: "✓ ";
}

.header-left-col__link-language .btn-language:hover {
    background-color: #a3a3a3;
    color: var(--color--sub-2);
    font-weight: 650;
}

.header-right-col {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.header-right-col .header__btn-wrap .btn-login,
.header-right-col .header__btn-wrap .btn-register {
    background-color: transparent;
    font-size: 1.4rem;
    padding: 3px 5px;
    font-weight: 500;
}

.header-right-col .header__btn-wrap .btn-login:hover,
.header-right-col .header__btn-wrap .btn-register:hover {
    color: var(--color--sub-1);
}

.fa-phone{
    margin-left: 75px;
}

.fa-envelope{

    margin-left: 20px;

}
.header-logo {    
    margin-right: 5px;

    width: 250px;
    height: 55px;
    /* border: 1px solid; */
    display: inline-block;
    color: var(--color--text);
    text-decoration: none;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-find {
    flex: 1;
    display: flex;
}

.header-find__input {
    flex: 1;
    height: 2rem;
    font-size: 1.7rem;
    padding:20px;
    text-align: center;
    border-radius: 10px;
}

.header-find__btn-find {
    min-width: 80px;
    text-align: center;
    padding: 3px 0;
    font-size: 1.7rem;
    color: var(--color--primary);
    font-weight: 650;
}

.header-info {
    margin-left: 10px;
    /* font-size: 1.6rem; */
}

.header-info__btn-info {
    font-size: 15px;
    margin-right: 30px;
    padding: 0 3px;
    position: relative;
}

.header-info__btn-info:hover span {
    color: var(--color--sub-2);
}

.header-info__btn-info:hover .info-box {
    display: block;
}

/* info box */
.info-box {
    display: none;

    position: absolute;
    top: calc(100% + 6px);
    left: -45px;

    width: 300px;
    height: 300px;

    background-color: gainsboro;
    color: var(--color--dark);
    /* border-radius: 1px; */
    box-shadow: 1px 3px 7px black;
    font-size: 1.45rem;
    z-index: 2;

    cursor: default;
}

.info-box::before {
    content: "";
    width: 48%;
    height: 11px;
    background-color: transparent;

    position: absolute;
    left: 0;
    bottom: 100%;
}

.info-box::after {
    content: "";
    border-style: solid;
    border-width: 10px 20px;
    border-color: transparent transparent gainsboro transparent;

    position: absolute;
    top: -18px;
    left: 35px;
}

.info-box .info-row-wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.info-box .info-row {
    width: 100%;
    height: 6rem;

    display: flex;
}

.info-box .info-row:hover {
    background-color: var(--color--sub-4);
    cursor: pointer;
}

.info-box .info-row + .info-row {
    margin-top: 2px;
}

.info-box .info__img {
    height: 100%;
    width: 50px;

    display: flex;
}

.info-box .info__img > i {
    margin: auto;
    font-size: 2.5rem;
    color: rgb(231, 89, 23);
}

.info-box .info__desc {
    flex: 1;
    padding: 2px 5px;
}

.info-box .info__desc--title {
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box .info__desc--content {
    margin: 0;
    line-height: 1.8rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.info-box .info-row:first-child {
    margin-top: 5px;
}

.info-box .info-row:last-child {
    margin-bottom: 5px;
}

.header-info__btn-basket {
    padding: 0 3px;
    text-decoration: none;
    color: var(--color--text);
}

.header-info__btn-basket:hover {
    color: var(--color--sub-1);
}

.header-nav-mobile {
    display: none;
}

.header-nav-mobile > a {
    color: var(--color--text);
    font-size: 1.55rem;
    font-weight: 600;
}

.header-nav-mobile > a:hover {
    color: var(--color--sub-1);
}

.header-nav .menu__list--link {
    color: var(--color--text);
    font-size: 1.55rem;
    font-weight: 600;
    opacity: .8;
    padding: 3px;
}

.header-nav .menu__list--link:hover {
    opacity: 1;

}

.navbar-nav{
    position: absolute;
    right: 0;
}

.header__btn-wrap{
    margin-left: 350px;
}

